<%= render :partial => 'workshifts/workshift_overview' %>

<div id="dashboard-cashboxes">
  <h1>Cashboxes</h1>
  <%= render :partial => 'cashboxes/cashbox_list' %>
</div>

<div id="dashboard-printers">
  <h1>Printers</h1>
  <%= render :partial => 'printers/printer_list' %>
</div>
